@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
body {
  overflow-x: hidden;
}
.animationMain {
  overflow: hidden;
  width: 0px;
  height: 0px;
  animation: animationNew 1s 0.2s forwards;
}
.initAnimation {
  opacity: 0%;
  transform: translateY(-30px);
  animation: initAnimation 1s 0.2s forwards;
}
.initAnimationInverse {
  opacity: 0%;
  transform: translateY(30px);
  animation: initAnimationInverse 1s 0.2s forwards;
}
@keyframes initAnimation {
  0% {
    opacity: 0%;
    transform: translateY(-30px);
  }
  100% {
    opacity: 100%;

    transform: translateY(0px);
  }
}
@keyframes initAnimationInverse {
  0% {
    opacity: 0%;
    transform: translateY(30px);
  }
  100% {
    opacity: 100%;

    transform: translateY(0px);
  }
}
@keyframes animationNew {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 210px;
    height: 22px;
  }
}
#shadowButton {
  box-shadow: inset 0px 0px 6px 3px #ffffff25;
  backdrop-filter: blur(14px);
}
@media (max-width: 500px) {
  .default {
    opacity: 0%;
    overflow: hidden;
    visibility: hidden;
    position: fixed;
    z-index: 4;
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .titulo {
    font-size: 48px !important;
    line-height: 52px !important;
  }
}
.active {
  opacity: 100%;
  visibility: visible;
}
#MenuMobile {
  border: none;
  border-top: 3px solid white;
  cursor: pointer;
  transform: rotate(0deg) translateY(0px);
  transition: all 0.5s;
}
.menuOnAnimation {
  border: none !important;
}
.menuOnAnimation::after {
  transform: rotate(45deg) translateY(-5px) !important;
}
.menuOnAnimation::before {
  transform: rotate(-45deg) translateY(5px) !important;
}
#MenuMobile::after {
  content: "";
  display: block;
  margin-top: 5px;
  width: 30px;
  height: 3px;
  background-color: white;
  transform: rotate(0deg) translateY(0px);
  transition: all 0.5s;
}
#MenuMobile::before {
  content: "";
  display: block;
  margin-top: 5px;
  width: 30px;
  height: 3px;
  background-color: white;
  transform: rotate(0deg) translateY(0px);
  transition: all 0.5s;
}
.titulo {
  font-family: inter;
  font-weight: 500;
  font-size: 82px;
  line-height: 98.4px;
  letter-spacing: -5.06%;
  text-align: center;
  background-image: linear-gradient(to bottom, #ffffff 55%, #b372cf);

  /* Segundo passo: apagar do fundo tudo que não estiver imediatamente atrás de texto */
  background-clip: text;
  -webkit-background-clip: text; /* Alguns navegadores precisam do prefixo */

  /* Terceiro passo: apagar o texto, deixando apenas o fundo atrás dele */
  -webkit-text-fill-color: transparent;

  /* Cor que contraste com o degradê, caso o navegador não suporte `background-clip: text` */
  color: white;
}
